body {
  background-color: #727d73;
  border: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: azure;
  text-align: center;
}
.main_container {
  width: 200px;
  height: 400px;
  background-color: rgb(49, 84, 84);
  border-radius: 5px;
  border-top: 20%;
}
#to_do {
  margin: 10px;
}
#add_task_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
